
// kok asosiy ranglar
$primary_color:#003459;
$primary_color_child1:#0078CD;
$primary_color_child2:#00528C;
$primary_color_child3:#002A48;


// sariq asosiy ranglar
$secondary_color:#F7DBA7;
$secondary_color_child1:#FCEED5;
$secondary_color_child2:#F1D092;
$secondary_color_child3:#EEC77E;


// Netural color 
$netural100:#00171F;
$netural80:#242B33;
$netural60:#667479;
$netural40:#99A2A5;
$netural20:#CCD1D2;
$netural10:#EBEEEF;
$netural00:#CCD1D2;


// media o'lchovlar

$md: 834px;
$sm: 414px;



$white:#fff;